.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.header-container {
  max-height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: steelblue;
  border: 2px solid black;
}
.container__list{
  display: flex;
  justify-content: space-between;
text-align: center;

}
.container__list li{
  padding: 1rem;
  margin-left: 1rem;
  color: whitesmoke;
}

.container__list li:hover{
  color: white;
  background-color: blueviolet;
}

.home-container {
  margin-left: 5vw;
}

ul {
  list-style: none;
}

.home-info {
  margin-top: 5vh;
}

.router {
  min-height: 80vh;
  height: 100%;
}
a{
  text-decoration: none;
}
table{
  margin: auto;
}
tr.border{
  outline: thin solid;
  line-height: 2;
}
table td:first-child {
  border-right: thin solid;
}

table td:nth-child(2) {
  border-right: thin solid;
}
.student-container {
  margin-left: 5vw;
}

.sort-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.footer-container {
  max-height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: firebrick;
  color: white;
  border: 2px solid black;
}
